@model TeduShop.Web.Models.ShoppingCartViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts.cshtml";
}

<div class=" single_top">
    <div class="single_grid">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>STT</td>
                    <td>Tên sản phẩm</td>
                    <td>Hình ảnh</td>
                    <td>Giá</td>
                    <td>Số lượng</td>
                    <td>Thành tiền</td>
                    <td>#</td>
                </tr>
            </thead>
            <tbody id="cartBody"></tbody>
        </table>
        <div class="pull-right">
            Tổng tiền: <span id="lblTotalOrder"></span>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

<script id="tblCart" type="x-tmpl-mustache">
    <tr>
        <td>{{ProductId}}</td>
        <td>{{ProductName}}</td>
        <td><img src="{{Image}}" alt="{{ProductName}}" height="100" /></td>
        <td>{{PriceF}}</td>
        <td><input class="input form-control txtQuantity" data-price="{{Price}}" data-id="{{ProductId}}" value="{{Quantity}}" type="number" /></td>
        <td id="amount_{{ProductId}}">{{Amount}}</td>
        <td><button class="btn btn-danger btnDeleteItem" data-quantity="{{Quantity}}" data-price="{{Price}}" data-id="{{ProductId}}"><i class="fa fa-close"></i></button></td>
    </tr>
</script>