@model TeduShop.Web.Models.ShoppingCartViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts.cshtml";
}

<div class=" single_top">
    <div class="single_grid">

        <div id="cartContent">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>STT</td>
                        <td>Tên sản phẩm</td>
                        <td>Hình ảnh</td>
                        <td>Giá</td>
                        <td>Số lượng</td>
                        <td>Thành tiền</td>
                        <td>#</td>
                    </tr>
                </thead>
                <tbody id="cartBody"></tbody>
            </table>

            <button class="btn btn-success" id="btnContinue">Tiếp tục mua hàng</button>
            <button class="btn btn-danger" id="btnDeleteAll">Xóa giỏ hàng</button>
            <button class="btn btn" id="btnCheckOut">Thanh toán</button>

            <div class="pull-right">
                Tổng tiền: <span id="lblTotalOrder"></span>
            </div>
        </div>

        <div id="divCheckout" style="display:none;">
            @*hide*@
        <div class="reservation_top">
            <div class=" contact_right">
                <h3>Thanh toán</h3>
                <div class="contact-form">
                    <form method="post" action="contact-post.html">
                        <label>
                            <input type="checkbox" id="chkUserLoginInfo" />
                            Sử dụng thông tin đăng nhập.
                        </label>
                        <input type="text" class="textbox" id="txtName" placeholder="Họ tên">
                        <input type="text" class="textbox" id="txtAddress" placeholder="địa chỉ">
                        <input type="text" class="textbox" id="txtEmail" placeholder="Email">
                        <input type="text" class="textbox" id="txtPhone" placeholder="Điện thoại">
                        <textarea value="Message" id="txtMessage">Message</textarea>
                        <input type="submit" value="Thanh toán">
                        <div class="clearfix"> </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"> </div>
</div>
</div>

<script id="tblCart" type="x-tmpl-mustache">
    <tr>
        <td>{{ProductId}}</td>
        <td>{{ProductName}}</td>
        <td><img src="{{Image}}" alt="{{ProductName}}" height="100" /></td>
        <td>{{PriceF}}</td>
        <td><input class="input form-control txtQuantity" data-price="{{Price}}" data-id="{{ProductId}}" value="{{Quantity}}" type="number" /></td>
        <td id="amount_{{ProductId}}">{{Amount}}</td>
        <td><button class="btn btn-danger btnDeleteItem" data-quantity="{{Quantity}}" data-price="{{Price}}" data-id="{{ProductId}}"><i class="fa fa-close"></i></button></td>
    </tr>
</script>