@model TeduShop.Web.Models.PageViewModel
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/Layouts.cshtml";
}

<div class=" single_top">
    <div class="single_grid">
        <div class="toogle">
            <h3 class="m_3">@Model.Name</h3>
            <p class="m_text">@Html.Raw(Model.Content)</p>
        </div>
        <div class="clearfix"> </div>
    </div>
    
</div>