@model TeduShop.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Layouts.cshtml";
}

<div class="account_grid">
    <div class=" login-right">
        <h3>REGISTERED CUSTOMERS</h3>
        <p>If you have an account with us, please log in.</p>
        @using (Html.BeginForm("Login", "Account",new { returnUrl= ViewBag.returnUrl }, FormMethod.Post))
        {
            <div>
                <span>Tài khoản<label>*</label></span>
                @Html.TextBoxFor(model => model.UserName)
            </div>
            <div>
                <span>Mật khẩu<label>*</label></span>
                @Html.TextBoxFor(model => model.Password)
            </div>
            <div>
                @Html.CheckBoxFor(model => model.RememberMe)
                Nhớ mật khẩu
            </div>
            <a class="forgot" href="#">Forgot Your Password?</a>
            <input type="submit" value="Login">
        }

    </div>
    <div class=" login-left">
        <h3>Chưa có tài khoản</h3>
        <p>Nếu bạn chưa có tài khoản thì đăng ký theo link bên dưới:</p>
        <a class="acount-btn" href="/dang-ky.html">đăng ký thành viên</a>
    </div>
    <div class="clearfix"> </div>
</div>